<div class="group relative p-10 flex flex-col space-y-6 md:flex-row md:space-x-6 md:space-y-0 h-96  bg-gray-800">
  <div class="flex flex-col animate-fadeIn animation-duration-1000 animation-fill-forwards">
    <h1 class="h-16 font-pacifico text-yellow-500">Marco Theo</h1>
    <h1 class="h-16 font-pacifico ml-16 text-yellow-500">Software engineer</h1>
  </div>

  <div class="w-96 h-auto bg-gray-700 rounded-xl absolute -bottom-24 right-56 z-10 shadow-lg p-6 animate-slideIn animation-duration-1000 animation-fill-forwards">
    <h3 class="text-yellow-500 font-roboto ">lets start coding...</h3>
    <br />
    <h3 class="text-purple-500 font-roboto">const x = 2</h3>
    <h3 class="text-purple-500 font-roboto">const y = 2</h3>
    <h3 class="text-purple-500 font-roboto">console.log(x+y)</h3>
    <br />
    <h3 class="text-green-300 font-roboto">// Result</h3>
    <h3 class="text-green-300 font-roboto">4</h3>
  </div>
</div>