---
import GridCard from "../level-2/GridCard.astro";
---

<div class="container grid grid-cols-4 gap-4 mt-56 mx-auto">
  <GridCard>
    <h2 class="text-white">01</h2>
  </GridCard>
  <GridCard>
    <h2 class="text-white">01</h2>
  </GridCard>
  <GridCard>
    <h2 class="text-white">01</h2>
  </GridCard>
  <GridCard>
    <h2 class="text-white">01</h2>
  </GridCard>
  <GridCard>
    <h2 class="text-white">01</h2>
  </GridCard>
  <GridCard>
    <h2 class="text-white">01</h2>
  </GridCard>
  <GridCard>
    <h2 class="text-white">01</h2>
  </GridCard>
  <GridCard>
    <h2 class="text-white">01</h2>
  </GridCard>
</div>